home-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh auto 5vh;
    grid-template-areas:
    "hd"
    "ct"
    "ft";
}

header {
    height: 70%;
    width: 100%;
    display: flex;
    grid-area: hd;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-subscribe {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.subscribe-text {
    font-family: "Roboto Light", sans-serif;
    font-size: 1em;
    color: #586268;
    line-height: 1.2em;
    text-decoration: underline;
}

.subscribe-text:hover {
    text-decoration: none;
}

.container-header-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header-title-text {
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    color: #000009;
    line-height: 1.5em;
    text-decoration: underline;
    font-weight: bold;
}

.header-title-text:hover {
    text-decoration: none;
}

.container-search {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.container-home-content {
    display: flex;
    flex-wrap: wrap;
    grid-area: ct;
    justify-content: flex-start;
}

.card-blog {
    width: calc(100% - 22px);
    height: auto;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    box-shadow: 5px 5px #D3D3D3;
}

.card-blog img {
    border-radius: 5px 5px 0 0;
}

.card-blog .card-blog-text {
    padding: 10px;
}

@media (min-width: 720px) and (max-width: 1080px) {
    .card-blog {
        width: calc(100% / 2 - 21px);
    }
}

@media (min-width: 1081px) {
    .card-blog {
        width: calc(100% / 3 - 21px);
    }
}

.tag {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Roboto Light", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #4169E1;
}

.title {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    color: #000009;
    line-height: 1.5em;
    font-weight: bold;
}

.datetime {
    font-family: "Roboto Light", sans-serif;
    font-size: 0.8em;
    color: #586268;
    line-height: 1.2em;
}

.content-text {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Times New Roman", serif;
    color: #000009;
}

.container-footer {
    grid-area: ft;
}

.clickable {
    position: relative;
}

.stretch-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.animated-post:hover {
    animation-name: shadowChange;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; /* Run only once */
    animation-fill-mode: forwards; /* Retain the final state after animation */
}

@keyframes shadowChange {
    from {
        box-shadow: 5px 5px #D3D3D3; /* Initial shadow */
    }
    to {
        box-shadow: 5px 5px #A1A7A8; /* Final shadow */
    }
}