.box {
    /*border: 1px solid red;*/
    /*background: #F8FA9D;*/
}

.container-home-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh auto 5vh;
    grid-template-areas:
    "hd"
    "ct"
    "ft";
}

.container-header {
    height: 70%;
    width: 100%;
    display: flex;
    grid-area: hd;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-subscribe {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.subscribe-text {
    font-family: "Roboto Light", sans-serif;
    font-size: 1em;
    color: #586268;
    line-height: 1.2em;
    text-decoration: underline;
}

.subscribe-text:hover {
    text-decoration: none;
}

.container-header-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header-title-text {
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    color: #000009;
    line-height: 1.5em;
    text-decoration: underline;
    font-weight: bold;
}

.header-title-text:hover {
    text-decoration: none;
}

.container-search {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.container-content {
    display: flex;
    grid-area: ct;
    flex-direction: column;
    align-items: center;
}

.card-blog {
    width: 92%;
    height: auto;
    margin: 1vw 5vw;
    padding: 2vw;
    border: 0.1vw solid #D3D3D3;
    border-radius: 2vw;
    box-shadow: 0.5vw 0.5vw #D3D3D3;
}

.tag {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Roboto Light", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #4169E1;
}

.title {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    color: #000009;
    line-height: 1.5em;
    font-weight: bold;
}

.datetime {
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Roboto Light", sans-serif;
    font-size: 0.8em;
    color: #586268;
    line-height: 1.2em;
}

.content-text {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: "Times New Roman", serif;
    color: #000009;
}

.container-footer {
    grid-area: ft;
}

.clickable {
    position: relative;
}

.stretch-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.animated-post:hover {
    animation-name: shadowChange;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; /* Run only once */
    animation-fill-mode: forwards; /* Retain the final state after animation */
}

@keyframes shadowChange {
    from {
        box-shadow: 0.5vw 0.5vw #D3D3D3; /* Initial shadow */
    }
    to {
        box-shadow: 0.5vw 0.5vw #A1A7A8; /* Final shadow */
    }
}

.container-blog-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh auto 5vh;
    grid-template-areas:
    "hd"
    "ct"
    "sd"
    "ft";
}

.container-side {
    grid-area: sd;
}

.blog-title {
    margin: 5px 0 5px 0;
    display: flex;
    font-family: "Times New Roman", serif;
    font-size: 2em;
    color: #000009;
    font-weight: bold;
}
.blog-h1 {
    margin: 5px 0 0 0;
    font-family: "Times New Roman", serif;
    font-size: 1.5em;
    color: #000009;
    font-weight: bold;
}

.blog-h2 {
    margin: 5px 0 0 0;
    font-family: "Times New Roman", serif;
    font-size: 1.25em;
    color: #000009;
    font-weight: bold;
}

.blog-separator {
    height: 0;
    width: 100%;
    border-top: solid 1px #000009;
    margin: 5px 0 5px 0;
}

.blog-content-text {
    margin: 5px auto;
    font-family: "Times New Roman", serif;
    font-size: 1.1em;
    color: #000009;
}

.code-text {
    width: calc(100% - 20px);
    height: auto;
    border: 1px solid #000009;
    margin: 5px auto;
    font-size: 0.8em;
    font-family: "Courier New", Courier, monospace;
    color: #333;
    white-space: pre-wrap;
}

.blog-list {
    margin: 5px auto;
}
.blog-li {
    font-family: "Times New Roman", serif;
    font-size: 1.1em;
    color: #000009;
}

.link-text {
    color: #4169E1;
    text-decoration: underline;
}

.link-text:hover {
    text-decoration: none;
}

.button-1 {
    margin: 5px;
    border: solid 2px #4169E1;
    background: none;
    color: #4169E1;
    font-family: "Roboto Light", sans-serif;
    font-size: 1.1em;
    border-radius: 10px;
}

.animated-button1:hover {
    animation-name: button1Change;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; /* Run only once */
    animation-fill-mode: forwards; /* Retain the final state after animation */
}

@keyframes button1Change {
    from {
        background: none;
        color: #4169E1;
    }
    to {
        background: #4169E1;
        color: #ffffff;
    }
}

.button-2 {
    margin: 5px;
    border: solid 2px #A1A7A8;
    background: none;
    color: #A1A7A8;
    font-family: "Roboto Light", sans-serif;
    font-size: 1.1em;
    border-radius: 10px;
}

.animated-button2:hover {
    animation-name: button2Change;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; /* Run only once */
    animation-fill-mode: forwards; /* Retain the final state after animation */
}

@keyframes button2Change {
    from {
        background: none;
        color: #A1A7A8;
    }
    to {
        background: #A1A7A8;
        color: #ffffff;
    }
}